body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  section {
    margin: 20px;
  }
  
  h2 {
    color: rgb(255, 255, 255);

  }

  .Banner {
    height: 110px;
  }
  
  #promo-video {
    width: 50%;
    height: 400px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #robot-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .robot-image {
    width: 100%;
    max-width: 400px;
    margin: 10px;
  }
  
  .robot-image2 {
    width: 200%;
    max-width: 400px;
    margin: 10px;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  